= form_for @used_object do |f|
  - if @used_object.errors.any?
    #error_explanation
      %h2= "#{pluralize(@used_object.errors.count, "error")} prohibited this used_object from being saved:"
      %ul
        - @used_object.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
