%h1 Listing used_objects

%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

  %tbody
    - @used_objects.each do |used_object|
      %tr
        %td= used_object.name
        %td= used_object.description
        %td= link_to 'Show', used_object
        %td= link_to 'Edit', edit_used_object_path(used_object)
        %td= link_to 'Destroy', used_object, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Used object', new_used_object_path
