.container
  %h1 Listing used objects
  - @used_objects.each do |used_object|
    .panel.panel-default
      .panel-heading
        .panel-title
          %p
            = used_object.name
      .panel-body
        %p
          = used_object.description
        %p
          Create by:
          = link_to used_object.user.fullname, edit_user_path(used_object.user)
      .panel-footer
        %p
          = link_to 'Show', used_object
          -if current_user == used_object.user
            = link_to 'Edit', edit_used_object_path(used_object)
            = link_to 'Delete', used_object, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New Used object', new_used_object_path
