= form_for @bid do |f|
  - if @bid.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bid.errors.count, "error")} prohibited this bid from being saved:"
      %ul
        - @bid.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :details
    = f.text_field :details
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :period
    = f.number_field :period
  .field
    = f.label :owner_id
    = f.number_field :owner_id
  .field
    = f.label :owner_type
    = f.number_field :owner_type
  .field
    = f.label :project_id
    = f.number_field :project_id
  .actions
    = f.submit 'Save'
