.navbar.navbar-default
  .container
    .navbar-header
      .navbar-brand= link_to 'Meerkat', root_path
    .navbar-collapse
      %ul
        .navbar.navbar-nav
          %li
            = link_to 'All Projects', projects_path
          %li
            = link_to 'Create New Project', new_project_path
          %li
            = link_to 'All Used Objects', used_objects_path
          %li
            = link_to 'Add Used Object', new_used_object_path
        .navbar.navbar-nav.navbar-right
          %li
            - if user_signed_in?
              = current_user.fullname
              = link_to 'Logout', destroy_user_session_path, method: :delete
              -#= link_to 'My Account', user_path(current_user)
            - elsif company_signed_in?
              = link_to 'Logout', destroy_company_session_path, method: :delete
            - else
              = link_to "Sign In", user_session_path
              = link_to 'Sign Up', new_user_registration_path
              <br>
              = link_to 'Sing In as Company', company_session_path
              = link_to 'Sign Up as Company', new_company_registration_path

