.container
  %h1 Listing projects
  - @projects.each do |project|
    .panel.panel-default
      .panel-heading
        .panel-title
          %p
            = project.name
      .panel-body
        %p
          = project.description
        %p
          created by:
          = link_to project.user.fullname, user_path(project.user)
      .panel-footer
        %p
          = link_to 'Show', project
          -if current_user == project.user
            = link_to 'Edit', edit_project_path(project)
            = link_to 'Delete', project, :method => :delete, :data => { :confirm => 'Are you sure?' }
= link_to 'New Project', new_project_path
